.list-view {
  display: flex;
  width: 300px;
  flex-wrap: wrap;
  align-items: center;
}

@media (min-width:900px) {
  .list-view{
    width: 900px;
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  .list-view{
    width: 600px;
  }
}
